@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 550px;
  height: 100vh;
  background-image: url(https://github.com/brandonnmelchor/FCC-Cafe-Menu/blob/main/background.png?raw=true);
  font-family: Montserrat;
  font-size: 18px;
  letter-spacing: 1px;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 500px;
  padding: 20px;
  background-color: white;
  box-shadow: 5px 5px 10px #00000040;
  border-radius: 5px;
}

h1 {
  font-size: 40px;
  letter-spacing: 2px;
}

h2 {
  margin-bottom: 10px;
  font-size: 30px;
  letter-spacing: 1.5px;
}

img {
  display: block;
  height: 60px;
  width: 60px;
  margin: 0px auto 15px;
}

hr {
  height: 3px;
  margin: 20px 0px;
  border: 0;
  background-color: #ffc9c9;
}

article {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
}

#desserts {
  margin-top: 20px;
}

footer {
  font-size: 14px;
}

.brandonn {
  margin-top: 10px;
}

a,
a:visited,
a:hover,
a:active {
  color: inherit;
}
