body {
  text-align: center;
  background-image: url(https://images.pexels.com/photos/1024359/pexels-photo-1024359.jpeg);
  background-size: cover;
  font-family: montserrat;
  padding: 20px;
}

h1 {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 15px;
}

h2 {
  font-size: 30px;
}

.menu {
  width: 80%;
  background-color: whitesmoke;
  margin: auto;
  padding: 20px;
  min-width: 450px;
  max-width: 500px;
}

img {
  height: 60px;
  width: 60px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

hr {
  height: 4px;
  border: 0;
  background-color: #ffc9c9;
}

.bottom-line {
  margin-top: 25px;
}

.item p {
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 18px;
}

.flavor,
.dessert {
  text-align: left;
  width: 74%;
}

.price {
  text-align: right;
  width: 25%;
}

/* FOOTER */

footer {
  font-size: 14px;
}

.address {
  margin-bottom: 5px;
}

a,
a:visited,
a:hover,
a:active {
  color: black;
}
